


.animateMove{
    animation: moveAnimation 1s ease-out;
}

@keyframes moveAnimation{
    0%{
        transform: translateX(var(--dx)) translateY(var(--dy));
        width: var(--sw);
    }
    100%{
        transform: translateX(0) translateY(0);
        width: var(--fw);
    }
}

