
.animateMove{
    animation: moveAnimation 1s ease-out;
}

@keyframes moveAnimation{
    0%{
        transform: translateX(var(--dx)) translateY(var(--dy));
        width: var(--sw);
    }
    100%{
        transform: translateX(0) translateY(0);
        width: var(--fw);
    }
}

.animateTrigger{
    animation: triggerAnimation 0.2s ease-out alternate 2;
}

@keyframes triggerAnimation{
    0%{
        transform: translateX(0);
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(-10deg);
    }
    100%{
        transform: translateY(-20%) rotate(10deg);
    }
}